@font-face {
    font-family: 'Nunito Sans';
    src: url('https://galenguyer.github.io/book.css/NunitoSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('https://galenguyer.github.io/book.css/NunitoSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

body {
    background-color: #f4f2e8;
}

article {
    max-width: 720px;
    font-family: 'Nunito Sans', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 3rem auto 3rem auto;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    font-weight: 400;
}

hr {
    margin: 0rem 2rem 2rem 2rem;
}

img {
    max-height: 400px; 
    max-width: 550px;
    width: auto; 
    display:block; 
    margin:auto;
}

pre {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 18px;
    margin: 8px;
    background-color: white;
}

pre>hr{
    margin: 0;
}

a {
    border-bottom: dotted 1px transparent;
    text-decoration: none;
    color: rgba(128,128,128,1);
    -moz-transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}
a:hover {
    border-bottom: dotted 1px rgba(128,128,128,1);
}
